<h2>User Profile</h2>

<h4>Welcome, <%= current_user.username %></h4>
<br>
<% if @user.email.blank? %>
  <%= form_for @user, method: :patch do |f| %>
  <table>
    <tr>
    <td><%= f.label :email %> <%= f.text_field :email %></td>
    <td><%= f.submit "Update" %></td>
    </tr>
  </table>
  <% end %>
<% else %>
  Email: <%= @user.email %>
<% end %>




  </tr>
<h2>TOOLS:</h2>
<% if @tools.blank? %>
  You have not checked out any tools
<% else %>
  <h5>Checked out tools: </h5>
  <table>
  <thead>
    <td>Tool</td>
    <td>Qty</td>
    <td>Return</td>
  </thead>
  <% @tools.each do |borrowed| %>
    <tr>
    <td><%= borrowed.tool.name %></td>
    <td><%= borrowed.qty %></td>
    <td><%= button_to "Check In", user_tool_path(borrowed.id), method: :put %>
    </td>
    </tr>
  <% end %>  
<% end %>
<br>
<%= link_to "Look for tools", tools_path %>