<h2>Tool Check Out</h2>
<br>

<table>
    <%= form_for @checkout do |f| %>
        <tr>
            <td><%= @tool.name %></td>
            <%= f.hidden_field :tool_id %>
            <td><%= f.select :qty,(1..2) %> </td>
            <td><%= f.submit 'Check Out' %></td>
        </tr>
    <% end %>
</table>