<div class="new-event">  
  <%= form_for @event do |f| %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <br>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_field :date %>
    </div>
    <br>
    <div class="field">
      <%= f.label :time %><br>
      <%= f.time_field :time %>
    </div>
    <br>
    <div class="field">
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </div>
    <br>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "description" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>