<!DOCTYPE html>
<html>
<head>
  <title>PeaPatch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="assets/twitterbootstrap/js/bootstrap-tab.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top-bar"><%= image_tag "peashooter.png" %> <strong>Patch of Good Hope</strong></div>


<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#forecast" data-toggle="tab">Forecast</a></li>
    <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
    <li><a href="#news" data-toggle="tab">News</a></li>
    <li><a href="#tools" data-toggle="tab">Tools</a></li>
</ul>

<!-- Tab Content -->
<div class="tab-content">
    <div class="tab-pane active" id="forecast">
        <h3><%= image_tag "south-africa-flag.png" %>Forecast for Cape Town</h3>
        <%= render partial: 'shared/forecast' %>
    </div>
    <div class="tab-pane" id="calendar">
        <h1>Calendar</h1>
        <p>event event event event</p>
    </div>
    <div class="tab-pane" id="news">
        <h1>News</h1>
        <%= render partial: 'shared/posts' %>
    </div>
    <div class="tab-pane" id="tools">
        <h1>Tools</h1>
        <p>hoe hoe hoe hoe hoe hoe</p>
    </div>
</div>

<%= yield %>
</body>
</html>
